* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    display: flex;
    flex-wrap: wrap;
}

/* Main heading styling */
h1 {
    height: 40px;
    background-color: black;
    color: gainsboro;
    margin-bottom: 0;
    padding: 10px 10px;
    text-shadow: 2px 2px darkred;
    
}

.content {
    padding: 10px 10px;
}


body {
    background-color: gainsboro;
    margin: 0;
}

.avatar {
    position: relative;
    width: 100%;
    height: 30%;
}

/* Alt headings styling */
h2, h4, h5 {
    height: 20px;
    margin-bottom: 0;
    padding: 10px 10px;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

h2, .work, h5 {
    color: darkred;
}
h3, h4, h5 {
    padding: 10px 10px;
}

/* About Me <p> styling */
p, .about-me {
    padding: 10px 10px;
    margin-right: 60%;
    background-color: gainsboro;
    border: 9px solid darkslategray;
}

.about-me {
    margin-top: 10px;
}
 
/* Nav bar styling */
.nav {
    text-align: right;
    margin: 0px;
    height: 30px;
    padding: 20px 0px;
    background-color: darkslategray;
}

/* Nav bar link styling */
.about-link, .github-link, .contact-link {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px darkred;
}

/* Nav bar link styling on hover */
.about-link:hover, .github-link:hover, .contact-link:hover {
    color: black;
}

li {
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    
}
/* Image Styling */
.selfie {
    margin-right: 60px;
    height: 35%;
    width: 45%;
    height: auto;
    float: right;
   display: flex;
   flex-wrap: wrap;
}

.work-img {
    width: 100%;
    height: 100%;
}

.work-img2, .work-img3, .work-img4, .work-img5 {
    width: 47%;
    height: 100%;
}


/* Image Hovers */
.work-img:hover, .work-img2:hover, .work-img3:hover, .work-img4:hover, .work-img5:hover {
    opacity: 60%;
    
}

/* Text Styling */
.study-guide-text {  
    left: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background-color: black;
    border-radius: 30px;
    padding: 5px 5px; 
    color: gainsboro;
    display: flex;
    flex-wrap: wrap;
}

.horiseon-text, .project-3, .project-4, .project-5 {
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 10px;
    background-color: black;
    border-radius: 30px;
    padding: 5px 5px;
    color: gainsboro;
    display: flex;
    flex-wrap: wrap;
}

.StudyGuide {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    margin-left: 10px;
}

/* Image Grid for Work Section */
.SmallerImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.Horiseon, .Project3, .Project4, .Project5 {
    height: 100%;
    width: 200%;
}

/* Footer */
.Contact {
    color: black;
    background-color: darkslategray;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.contact-list {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
}

    


